In [121]:
# Arithimetic operators + - / * % //
x = 10
y = 3

print(x + y)  # Output: 13
print(x - y)  # Output: 7
print(x * y)  # Output: 30
print(x / y)  # Output: 3.333...
print(x % y)  # Output: 1
print(x ** y) # Output: 1000
print(x // y) # Output: 3
# division operator / always returns a float, even if both operands are integers. 
# The floor division operator // returns the integer part of the division. 
#     - rounding down to the nearest whole number
#     - discards the decimal part
# The modulus operator % returns the remainder of the division.

13
7
30
3.3333333333333335
1
1000
3

In [6]:
10 % 3 #gives the remainder

1

In [9]:
10 + 2
10 - 2  #suggests it only gives the output of the last line

8

In [10]:
# power or raised to --> **
2 ** 2

4

In [11]:
print(2**3)
print(3 ** 2) #using print to achieve all the outputs

8
9

In [12]:
# = assigning
# == comparison

In [13]:
#other comparison operators --> >,  <,  >=,  <=, ==, =!
a = 3

In [14]:
a >3

False

In [15]:
a<3

False

In [16]:
a==3

True

In [17]:
# above output shows python communicates in true or false form
# python is case sensitive
# python also is indentation sensitive

In [18]:
# type 
b = 34 
type(b)

int

In [20]:
#we do not define data type in python its based on type of data we assigned
B = "abersfsds"
type(B)

str

Python functions can be categorized into three main types:
- Built-in functions:
    Examples: print(), len(), sum(), min(), max(), type(), etc.
    There are around 68 built-in functions in Python
- User-defined functions:
    These functions are created by the programmer to perform specific tasks. 
    They are defined using the def keyword followed by the function name, parameters,
    and the function body. 
- Anonymous functions (Lambda functions):
    These are small, single-expression functions that do not require a name.
    They are defined using the lambda keyword. 
    Lambda functions can take any number of arguments but can only have one expression.
Additionally, some functions can be further classified based on their behavior:
- Recursive functions: Functions that call themselves within their definition.
- Higher-order functions: Functions that take other functions as arguments or return functions as output.
- Generator functions: Functions that use the yield keyword to return a sequence of values one at a time.

In [21]:
name = "abc"
age = 22
salary = 800000
print(name , age, salary)

abc 22 800000

In [22]:
# len() function
len(name)

3

In [25]:
#fetching elements --> [] applied on string not on int
name[0]

'a'

In [26]:
var = "abcdefghijklmnopqrstuvwxyz"

In [28]:
var[0:25] #it doesnt include last element

'abcdefghijklmnopqrstuvwxy'

In [31]:
var[25] #last element --> indexing start from 0

'z'

In [33]:
#var[26] #this wont  work
#but 
print(var[0:26]) # this gonna work cuz the range is given using this
print(var[: 200])

abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz

In [35]:
## reversing of string --> important will be used in splitting the dataset
var[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [36]:
var[0:9:4] #what this means is fetching every 4 th element including 0 th counting till 9 th only

'aei'

#### Data Types
- Tuple --> ()
- List  --> []
- Set   --> its a function set()
- Dictionary --> {}

#### Tuple
- Used to represent data in single dimension of mixed format
- Tuple is immutable(cannot be changed later on)

In [43]:
#tuple --> count function --> indexing can be applied
t1 = (2 , 5 , 1, "osmanabad" , 10.5) #tuple

In [44]:
type(t1)

tuple

In [47]:
t1[3]

'osmanabad'

In [51]:
t2 = (1,2,1,2,1)
t2.count(1) #it only counts one thing at a time

3

In [52]:
t3 = ("ab", "ab")
t3.count("ab")

2

In [54]:
#for counting data use count function
#for getting index use index function
t3.index("ab")

0

In [55]:
t4 = ("mon", "tue", "wed")
t4.index('wed')

2

In [56]:
#how to change tue to tuesday --> well tuple is immutable but list isnt
#so converting it to list then changing it will be possible

In [57]:
l4 = list(t4)
l4[1] = "Tuesday"

In [58]:
l4

['mon', 'Tuesday', 'wed']

#### list
- they also represent data of mixed format in single dimension
- list are mutable

In [59]:
l1 = [1,2,3,4,5,6,7,8,9]
len(l1)  #len function

9

In [60]:
l1.append(10) #append function --> used to add values at the end of the list
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
# l1.append(10) the more time u run it that many times times it will add the value at the end
# function like count and index can be used for their respective purpose
# tuple and list can have duplicate values

In [69]:
#l1[::-1] 
l1.sort(reverse=True)
l1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
l1.sort()
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
l1.pop()

10

In [72]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
l1.pop(2)

3

In [74]:
l1

[1, 2, 4, 5, 6, 7, 8, 9]

In [77]:
#l1.remove(1)
l1.remove(2)
l1

[4, 5, 6, 7, 8, 9]

In [79]:
# count()
# append()
# index()
# sort()
# pop()
# len()
#clear()
#insert()

In [80]:
l1.clear()

In [81]:
l1

[]

In [82]:
l1.insert(0,1)

In [83]:
l1

[1]

In [84]:
l1.insert(1,5)
l1.insert(2,6) #give the index and then the value u want to insert

In [85]:
l1

[1, 5, 6]

The append() and extend() methods in Python are both used to add elements to the end of a list,
but they differ in how they handle the elements being added.
append(element) adds a single element to the end of the list. 
The element can be of any data type, including another list. 
extend(iterable) adds all the elements from an iterable 
(e.g., another list, tuple, or string) to the end of the list.

In [86]:
l2 = [2,3,5,6,7,8]
l1.append(l2)

In [87]:
l1

[1, 5, 6, [2, 3, 5, 6, 7, 8]]

In [88]:
list3 = [1, 2, 3]
list4 = [4, 5]

# extend list3 with the elements of list4
list3.extend(list4)
print(list3)

[1, 2, 3, 4, 5]

In [89]:
list1 = [1, 2, 3]
list2 = [4, 5]

# append list2 as a single element to list1
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5]]

#### Set
- used to store data in unique and sorted way 
- it can have mixed data format
- it is a function 
- it can never have any duplicates
- it is used to store SORTED AND UNIQUE
- data which can be of mixed type and indexing is not possible

In [91]:
s1 = set([1,2,3,4]) #square brackets are mandotory to store more than one item
type(s1)            # if there is only one element [] this is not necessary

set

In [93]:
# s1[0] #indexing is not possible for set

set comes with all its complementary functions
such as
- intersection()
- union()
- difference()
- symmetric_difference()

In [94]:
#consider u own two shops each with different products
shop1 = ['tv', 'fridge', 'oven', 'wm', 'speakers', 'trimmer', 'oven','camera']
shop2 = ['earphone', 'oven', 'wm', 'speakers', 'trimmer', 'camera', 'tv', 'ac', 'laptop', 'keyboard']

In [95]:
#To remove the duplicate products in each shop 
shop1 = set(shop1)
shop2 = set(shop2)

In [96]:
print(shop1)
print(shop2) # Output: each product is considered only once 
# even they are sorted based on ascii values

{'wm', 'camera', 'trimmer', 'oven', 'fridge', 'tv', 'speakers'}
{'wm', 'earphone', 'camera', 'laptop', 'trimmer', 'oven', 'ac', 'keyboard', 'tv', 'speakers'}

In [97]:
shop2.intersection(shop1) #common products of shops

{'camera', 'oven', 'speakers', 'trimmer', 'tv', 'wm'}

In [98]:
shop2.difference(shop1) # products shop2 has that shop1 dont

{'ac', 'earphone', 'keyboard', 'laptop'}

In [99]:
shop1.difference(shop2) # shop2 dont have the product fridge

{'fridge'}

In [100]:
shop1.union(shop2) #set of common products without duplicates
#hence shop2.union(shop1) outputs will be same

{'ac',
 'camera',
 'earphone',
 'fridge',
 'keyboard',
 'laptop',
 'oven',
 'speakers',
 'trimmer',
 'tv',
 'wm'}

In [101]:
shop1.symmetric_difference(shop2) #products except the intersection(Common) products 
#symmetric difference = it keeps all the values except the common values

{'ac', 'earphone', 'fridge', 'keyboard', 'laptop'}

short cut: to remove the duplicates in tuple
just convert it into set and again convert it in the list

#### Dictionary
- data is represented in key-value pair
- this is used to create dataframe

In [104]:
emp_details = {
    "name" : "abcd",
    "age" : 22,
    "salary": 2000000
}

In [105]:
type(emp_details)

dict

In [106]:
emp_details.keys()

dict_keys(['name', 'age', 'salary'])

In [108]:
emp_details.values()

dict_values(['abcd', 22, 2000000])

In [112]:
#dataframe
import pandas as pd
emplys_detail = { 'name' : ('mohan', 'rohan' , 'sohan', 'tony' , 'adii') , 
                'age' : (23, 32, 34, 39, 29), 
                'salary' : (333334, 223342, 4566756, 2333, 1234455667), 
                'WE' : (2, 10, 9, 7, 13)}
df = pd.DataFrame(emplys_detail)
df

    name  age      salary  WE
0  mohan   23      333334   2
1  rohan   32      223342  10
2  sohan   34     4566756   9
3   tony   39        2333   7
4   adii   29  1234455667  13

In [114]:
emplys_detail['salary'][3]

2333

In [117]:
# #list and tuple both can be included in the dictionary
emplys_detail_list = { 'name' : ['mohan', 'rohan' , 'sohan', 'tony' , 'adii'] , 
                'age' : [23, 32, 34, 39, 29], 
                'salary' : [333334, 223342, 4566756, 2333, 1234455667], 
                'WE' : [2, 10, 9, 7, 13]}

# emplys_detail_tuple = { 'name' : ('mohan', 'rohan' , 'sohan', 'tony' , 'adii') , 
#                 'age' : (23, 32, 34, 39, 29), 
#                 'salary' : (333334, 223342, 4566756, 2333, 1234455667), 
#                 'WE' : (2, 10, 9, 7, 13)}

In [120]:
emplys_detail_list['name'][2] = 'sharu'
emplys_detail_list

{'name': ['mohan', 'rohan', 'sharu', 'tony', 'adii'],
 'age': [23, 32, 34, 39, 29],
 'salary': [333334, 223342, 4566756, 2333, 1234455667],
 'WE': [2, 10, 9, 7, 13]}